@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    height: 90vh;
    overflow: hidden; /* Prevent scrolling */
  }
  
  .example-container {
    height: 90vh;
    display: flex;
    flex-direction: row;
  }
  
  /* Ensure the sidenav takes full height of the page */
  .full-height-sidenav {
    height: 90vh;
    overflow-y: auto;
    border-right: 2px solid rgba(92, 92, 92, 0.936);
  } 
  
  mat-sidenav-content {
    height: 90vh;
    /* Ensures the content area takes full height too */
    padding: 20px;
    /* Optional: Add some padding for content */
    overflow: auto ;
    /* If content exceeds screen height, this will allow scrolling */
  }
  
  /* Backdrop for the popup */
  .popup-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  /* Container for the popup content */
  .popup-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
  }

